[run]
concurrency = multiprocessing
parallel = true
source = $WRADLIB_BUILD_DIR/wradlib
omit =
    */setup.py
    */tests*

[report]
exclude_lines =
    raise NotImplementedError
    if __name__ == .__main__.:
