# run on container-based infrastructure
sudo: false

language: python

addons:
    apt:
        packages:
            - gfortran

env:
  global:
    - WRADLIB_BUILD_DIR=$TRAVIS_BUILD_DIR

matrix:
    include:
    - python: 2.7
      env:
        - PYTHON_VERSION="2.7"
    - python: 3.5
      env:
        - PYTHON_VERSION="3.5"
    - python: 3.6
      env:
        - PYTHON_VERSION="3.6"
        - DEPLOY="true"

cache:
  directories:
    - $HOME/condacache/pkgs

install:
    # test PEP8 compliance first to speed up
    - pip install flake8
    - flake8 .
    - deactivate
    # install build environment
    - source scripts/install.sh

before_script:
    # start virtual framebuffer Xserver for headless testing
    - export DISPLAY=:99
    - sh -e /etc/init.d/xvfb start
    - sleep 3

script:
    - scripts/run_tests.sh

after_success:
    - codecov -f "$WRADLIB_BUILD_DIR/coverage.xml" -F wradlibtests
    - scripts/trigger_readthedocs.sh

deploy:
  # tagged
  - provider: pypi
    server: https://upload.pypi.org/legacy/
    distributions: sdist
    skip_cleanup: true
    user: wradlib
    password:
      secure: rKiAS61oDiuV2uJvkP2aiXt8hb7boU2p35RWiTLS8b5pSo/BWysThOIf1jmz5GQIpI8uYU+5GajlgtGVq8GmOxprexDgwTfMFF2bsblfUuZwYM3R1tPQuo2poAZ1/m0jPCul60vJJ31B2wEzsneo4tvbM4a7mAoBMMA5auli5o3eVo4P8xnXziMbw/l53bnl+ZYv7qocbt9RIsrgckAdfjLkZy8gAgDxcYXGGybg6K8VN/twSZGMIJfOvjkONhOtRfsiUc8fEu2hF6+HjQfSC07jue4KDPzo3s9hrAS6+fB0v8MV4UsB710VsrqoPuIfhBRo+xj8tW7Y2MPzJq/6kPBrVoQwV7gLTxZ7IWy5y4/Si78rxhXZIKDzo2VS4tNq1wo6xfGXv8pbzal7TOljqzK+ekXJBsXgdVUiGisZJLHTnPr0rkjwY7qzW+mqPqnpLLTCoHYWQE9AlrEQI3jP1FejGB5iyv/A3kDhjaerFkXlu5TXfkE44EpoKp8uURCNdzNiFoACv/68w3BJmWI0IkQR+YWZEBQm0xySMj8zLd5qrhqX/0u2crEC2uUPEQnkwNF1X8fOz3KFozY68KYsvSmIqKPlJFWSpzXYzMzqFnpvSumgb+g8FK/UppmMpukeQXTVSMGHY9k0Hi6I/WoGgmlDMksRB4fMUG0nZXdOqyM=
    on:
      branch: master
      tags: true
      repo: wradlib/wradlib
      condition: $TRAVIS_PYTHON_VERSION = "3.6"
