# run on container-based infrastructure
sudo: false

language: python

addons:
    apt:
        packages:
            - gfortran

env:
  global:
    # wradlib-docs
    - secure: "EcGUE3aYsO2rH9q3Aoin5r/1MxSHyVBeVL+6Exn3qfUp9z4ycIxEJlOZer9aNg15J5qfNED0aBQCmA+chzUJ0fR7NWcD9JZDlUFUA9A+GMTdxVHy5jBRh//74qr90Q54XzIiXo9PC4zK1wLrrY3HpATA0/FAJ/6JR02VsacxAEo4nBWMTtxGpULhXAqGfb2YccZCy3ytMZC6Uf+SpE8gU9KkVAQsRwrC5iFc6bzNgiDjKFZSvcRxv4V1A/xcbO58A+Nyv77lKbYoSPiJRfxbAWpeNnlp7pf1FXZF2Kyu0smp7eGfYiDoYjWxKwc8fzfWS32WuIhobSmVNsdJpj6AjSEtne9eyj5/a+EPCCl4nyopQQdmGcYYuEBx8bEABXXd9dNKtaGKGN7MzmCiR0qAfbsqIke9kvgZ6mn0VFzpZjbluSWHOnYCWlr4XbXqn4BAeWS8BJRkuyVomefir+Xz2xfeKY1X5iPCZ4dr52ca2NcdGcEB9+DCKu7SBG/ANEGpWkF4mPAlKDfkwxAD4SXWeVpGcdt95a0glvnw7OktJwNKAG4ougeZCYxIK+ERn7IBYPDNnkGfPnZ/TRy0xt4hfsEReBcR+oyreY/ZFA/bYJSzzGz4nP9cT4d9jEnIbwHPHfAvJpx9/eMXrl8q4HZD13fDvXG1lwX65Q5zW+ybgf4="

matrix:
    include:
    - python: 2.7
      env:
        - PYTHON_VERSION="2.7"
        - COVERALLS="true"
        - DOC_BUILD="true"
    - python: 3.4
      env:
        - PYTHON_VERSION="3.4"
    - python: 3.5
      env:
        - PYTHON_VERSION="3.5"

install: source scripts/install.sh

script:
    - export GDAL_DATA=/home/travis/miniconda2/envs/wradlib/share/gdal
    - xvfb-run coverage run --source wradlib testrunner.py -a

after_success:
    - if [[ "$COVERALLS" == "true" ]]; then coveralls || echo "failed"; fi
    - if [[ "$DOC_BUILD" == "true" ]]; then cd $TRAVIS_BUILD_DIR; scripts/build_docs.sh; fi

deploy:
  provider: pypi
  server: https://testpypi.python.org/pypi
  user: wradlib
  password:
    secure: rKiAS61oDiuV2uJvkP2aiXt8hb7boU2p35RWiTLS8b5pSo/BWysThOIf1jmz5GQIpI8uYU+5GajlgtGVq8GmOxprexDgwTfMFF2bsblfUuZwYM3R1tPQuo2poAZ1/m0jPCul60vJJ31B2wEzsneo4tvbM4a7mAoBMMA5auli5o3eVo4P8xnXziMbw/l53bnl+ZYv7qocbt9RIsrgckAdfjLkZy8gAgDxcYXGGybg6K8VN/twSZGMIJfOvjkONhOtRfsiUc8fEu2hF6+HjQfSC07jue4KDPzo3s9hrAS6+fB0v8MV4UsB710VsrqoPuIfhBRo+xj8tW7Y2MPzJq/6kPBrVoQwV7gLTxZ7IWy5y4/Si78rxhXZIKDzo2VS4tNq1wo6xfGXv8pbzal7TOljqzK+ekXJBsXgdVUiGisZJLHTnPr0rkjwY7qzW+mqPqnpLLTCoHYWQE9AlrEQI3jP1FejGB5iyv/A3kDhjaerFkXlu5TXfkE44EpoKp8uURCNdzNiFoACv/68w3BJmWI0IkQR+YWZEBQm0xySMj8zLd5qrhqX/0u2crEC2uUPEQnkwNF1X8fOz3KFozY68KYsvSmIqKPlJFWSpzXYzMzqFnpvSumgb+g8FK/UppmMpukeQXTVSMGHY9k0Hi6I/WoGgmlDMksRB4fMUG0nZXdOqyM=
  on:
    tags: true
    distributions: sdist
    repo: wradlib/wradlib
