# run on container-based infrastructure
sudo: false

language: python

addons:
    apt:
        packages:
            - gfortran

env:
  global:
    # wradlib-docs
    secure: "VlQBtUODKHY+Csr5I0TgMf7zELoDxhgY4rOBSrJc6jKBrUVhZt0W2Pldp6jWuDsgn66oNK1cHQtO6YsayvinEGpDP2odbyb54pqsXTjRjg8dsevikCLljo9xlY7dv0Af9RoHD3Jx2o6Ii/esBmLAP6sDa/mFMSzC9GHVgegIOlndvELFRWkt01KNLMWMgzfg4igM8laWyEqFtLfRUAZJkn6FLDZMzR+PwJnU2Q5Gvg4o4JSqeFkPCN89TweEQP1dnKMoF5916b4PNPueX3QDlNlbg75EAmaVqww1ySlDWaTfhdXQGSUwcILWSGSfe5I001zWLJA53R8nqeqWRRExsN81Kw6ItGw/ODl0IuWkWkj0u8ey09nAHRHPJwnwAga0fzeXBEKKVKfM63uR3HS5xRB64BIQFR8j/kDUgAvAqss87FQ2vdtLUHfEl17XhE/TUR5CsSF+Fmso13ryXotkUHfwVG1edZZDE3OqADgupCDawx56nHe5sT4uha//8Evyk9FQo+7aEOJ6bs+Qj+xfpnvJeLbur+A9AD+E/ySZEsRsjFsksz2f0K94kvVl7q8M08E0/dY5loJr6dIaSegZK3KOZUzesVB61a5O/MWkWN5Co/u4sPneugVHI+ydOxyg8puOTa3C+rcGLzj/Cr0ZaFTNQ2BKWNThvSQ456PoV+I="

matrix:
    include:
    - python: 2.7
      env:
        - PYTHON_VERSION="2.7"
        - COVERALLS="true"
        - DOC_BUILD="true"
    - python: 3.4
      env:
        - PYTHON_VERSION="3.4"
    - python: 3.5
      env:
        - PYTHON_VERSION="3.5"

install:
    - deactivate
    - source scripts/install.sh

before_script:
    - flake8 .
    # convert notebooks, render notebooks
    - export GDAL_DATA=$HOME/miniconda/envs/wradlib/share/gdal
    - export WRADLIB_DATA=$HOME/wradlib-data
    - scripts/convert_notebooks.sh

script:
    - xvfb-run -a -w 5 coverage run --source wradlib testrunner.py -u
    - xvfb-run -a -w 5 coverage run -a --source wradlib testrunner.py -d
    - xvfb-run -a -w 5 coverage run -a --source wradlib testrunner.py -e
    - xvfb-run -a -w 5 coverage run -a --source wradlib testrunner.py -n

after_success:
    - scripts/render_notebooks.sh
    - if [[ "$COVERALLS" == "true" ]]; then coveralls || echo "failed"; fi
    - if [[ "$DOC_BUILD" == "true" ]]; then cd $TRAVIS_BUILD_DIR; scripts/build_docs.sh; fi

deploy:
  # devel
  - provider: pypi
    server: https://testpypi.python.org/pypi
    distributions: sdist
    skip_cleanup: true
    user: wradlib
    password:
      secure: rKiAS61oDiuV2uJvkP2aiXt8hb7boU2p35RWiTLS8b5pSo/BWysThOIf1jmz5GQIpI8uYU+5GajlgtGVq8GmOxprexDgwTfMFF2bsblfUuZwYM3R1tPQuo2poAZ1/m0jPCul60vJJ31B2wEzsneo4tvbM4a7mAoBMMA5auli5o3eVo4P8xnXziMbw/l53bnl+ZYv7qocbt9RIsrgckAdfjLkZy8gAgDxcYXGGybg6K8VN/twSZGMIJfOvjkONhOtRfsiUc8fEu2hF6+HjQfSC07jue4KDPzo3s9hrAS6+fB0v8MV4UsB710VsrqoPuIfhBRo+xj8tW7Y2MPzJq/6kPBrVoQwV7gLTxZ7IWy5y4/Si78rxhXZIKDzo2VS4tNq1wo6xfGXv8pbzal7TOljqzK+ekXJBsXgdVUiGisZJLHTnPr0rkjwY7qzW+mqPqnpLLTCoHYWQE9AlrEQI3jP1FejGB5iyv/A3kDhjaerFkXlu5TXfkE44EpoKp8uURCNdzNiFoACv/68w3BJmWI0IkQR+YWZEBQm0xySMj8zLd5qrhqX/0u2crEC2uUPEQnkwNF1X8fOz3KFozY68KYsvSmIqKPlJFWSpzXYzMzqFnpvSumgb+g8FK/UppmMpukeQXTVSMGHY9k0Hi6I/WoGgmlDMksRB4fMUG0nZXdOqyM=
    on:
      branch: master
      tags: false
      repo: wradlib/wradlib
      condition: $TRAVIS_PYTHON_VERSION = "2.7"

  # tagged
  - provider: pypi
    server: https://pypi.python.org/pypi
    distributions: sdist
    skip_cleanup: true
    user: wradlib
    password:
      secure: rKiAS61oDiuV2uJvkP2aiXt8hb7boU2p35RWiTLS8b5pSo/BWysThOIf1jmz5GQIpI8uYU+5GajlgtGVq8GmOxprexDgwTfMFF2bsblfUuZwYM3R1tPQuo2poAZ1/m0jPCul60vJJ31B2wEzsneo4tvbM4a7mAoBMMA5auli5o3eVo4P8xnXziMbw/l53bnl+ZYv7qocbt9RIsrgckAdfjLkZy8gAgDxcYXGGybg6K8VN/twSZGMIJfOvjkONhOtRfsiUc8fEu2hF6+HjQfSC07jue4KDPzo3s9hrAS6+fB0v8MV4UsB710VsrqoPuIfhBRo+xj8tW7Y2MPzJq/6kPBrVoQwV7gLTxZ7IWy5y4/Si78rxhXZIKDzo2VS4tNq1wo6xfGXv8pbzal7TOljqzK+ekXJBsXgdVUiGisZJLHTnPr0rkjwY7qzW+mqPqnpLLTCoHYWQE9AlrEQI3jP1FejGB5iyv/A3kDhjaerFkXlu5TXfkE44EpoKp8uURCNdzNiFoACv/68w3BJmWI0IkQR+YWZEBQm0xySMj8zLd5qrhqX/0u2crEC2uUPEQnkwNF1X8fOz3KFozY68KYsvSmIqKPlJFWSpzXYzMzqFnpvSumgb+g8FK/UppmMpukeQXTVSMGHY9k0Hi6I/WoGgmlDMksRB4fMUG0nZXdOqyM=
    on:
      branch: master
      tags: true
      repo: wradlib/wradlib
      condition: $TRAVIS_PYTHON_VERSION = "2.7"

