# run on container-based infrastructure
sudo: required

language: generic

services:
    - docker

env:
  global:
    # wradlib-docs
    - secure: "CjaL6vDvKqTaKClp6pqAlS7nyCN5WenEH0OS+zGvb2P7FF0bl5VU3xVZJl60OG0c7/ft/wsYSpFT9VzXZTuLo7+FOpiIuECOujYyAcFDU+NWS1YtRLYXj7z/8DV6VIl2BjQc/sOczF0Jv556UdNLOQP6b5KTxhx4xCCTHHQ1s1Lg14RVnUT+HiJGC8C5y0Fsh1GPTQywZ0aLAPWU7CQeRtsqH3PuBznRvmmfwkFKJhXAxdIj1lv9jBgwwpDgzPgPT7dMiGOkN0k8B5alMBRLB0SmEtabn1SHCSTExocze6SduxlGt1iPRJTY+VO9PxCmqDDiO8rD+Qya/TxnAU8Zgzxeq77ckG3er0dS4M6fsF/vre7E93VYRqI+e5XJCVsUzhlIoSrgq0OEa6UeRAJzahVXTFGhb/t4dpYjiW3yMwDUzK+gLYdClutBy7zIEu68h/4dwQDy9POEaL/8Zfwa0J64vJscOqTFj/9E4EjjQKVG8qT0QoIezTue6RMTK3BcBVRHSsACzemGKyIOzVjIbdxi9gLGf3wxRTiuzRzZ3SjC1LVaxzw982c/1xfrnJVhgU9pL+xb0yPvGNW8clZhVVEceuYRU+9zL77abDgBIxoUAzHB2LjDMCr2f3w89RQYQxDvmDsmLPXGyMQuLtIP1rIwC5+mydj9hP29KsIkgwQ="
    - WRADLIB_BUILD_DIR=$TRAVIS_BUILD_DIR

matrix:
    include:
    - python: 2.7
      sudo: required
      services: docker
      env:
        - PYTHON_VERSION="2.7"
        - COVERAGE="true"
        - DOC_BUILD="true"
    - python: 3.5
      sudo: required
      services: docker
      env:
        - PYTHON_VERSION="3.5"
        - COVERAGE="true"
    - python: 3.6
      sudo: required
      services: docker
      env:
        - PYTHON_VERSION="3.6"
        - COVERAGE="true"

before_install:
    - echo $PWD
    - env
    - ls -lart $HOME
    - docker pull wradlib/wradlib-docker
    - source scripts/docker_run.sh

install:
    - git clone https://github.com/wradlib/wradlib-data.git
    - source scripts/install_docker.sh

before_script:
    - docker exec -i -u=$UID wradlib_build /bin/bash -c "source activate wradlib; cd /home/build; flake8"
    # duplicate notebooks folder
    - export WRADLIB_NOTEBOOKS=$WRADLIB_BUILD_DIR/notebooks-render
    - mkdir $WRADLIB_NOTEBOOKS && cp -R notebooks $WRADLIB_NOTEBOOKS/
    - docker exec -i -u=$UID wradlib_build /bin/bash -c "source activate wradlib; cd /home/build; scripts/convert_notebooks.sh"

script:
    - docker exec -i -u=$UID wradlib_build /bin/bash -c "source activate wradlib; cd /home/build; scripts/run_tests.sh"

after_success:
    - if [[ "$COVERAGE" == "true" ]]; then docker exec -i -u=$UID wradlib_build /bin/bash -c "source activate wradlib; cd /home/build; codecov" || echo "failed"; fi
    - if [[ "$DOC_BUILD" == "true" ]]; then scripts/copy_notebooks.sh; fi
    - if [[ "$DOC_BUILD" == "true" ]]; then docker exec -i -u=$UID wradlib_build /bin/bash -c "source activate wradlib; cd /home/build; scripts/build_docs.sh"; fi

deploy:
  # devel
  - provider: pypi
    server: https://testpypi.python.org/pypi
    distributions: sdist
    skip_cleanup: true
    user: wradlib
    password:
      secure: rKiAS61oDiuV2uJvkP2aiXt8hb7boU2p35RWiTLS8b5pSo/BWysThOIf1jmz5GQIpI8uYU+5GajlgtGVq8GmOxprexDgwTfMFF2bsblfUuZwYM3R1tPQuo2poAZ1/m0jPCul60vJJ31B2wEzsneo4tvbM4a7mAoBMMA5auli5o3eVo4P8xnXziMbw/l53bnl+ZYv7qocbt9RIsrgckAdfjLkZy8gAgDxcYXGGybg6K8VN/twSZGMIJfOvjkONhOtRfsiUc8fEu2hF6+HjQfSC07jue4KDPzo3s9hrAS6+fB0v8MV4UsB710VsrqoPuIfhBRo+xj8tW7Y2MPzJq/6kPBrVoQwV7gLTxZ7IWy5y4/Si78rxhXZIKDzo2VS4tNq1wo6xfGXv8pbzal7TOljqzK+ekXJBsXgdVUiGisZJLHTnPr0rkjwY7qzW+mqPqnpLLTCoHYWQE9AlrEQI3jP1FejGB5iyv/A3kDhjaerFkXlu5TXfkE44EpoKp8uURCNdzNiFoACv/68w3BJmWI0IkQR+YWZEBQm0xySMj8zLd5qrhqX/0u2crEC2uUPEQnkwNF1X8fOz3KFozY68KYsvSmIqKPlJFWSpzXYzMzqFnpvSumgb+g8FK/UppmMpukeQXTVSMGHY9k0Hi6I/WoGgmlDMksRB4fMUG0nZXdOqyM=
    on:
      branch: master
      tags: false
      repo: wradlib/wradlib
      condition: $TRAVIS_PYTHON_VERSION = "2.7"

  # tagged
  - provider: pypi
    server: https://pypi.python.org/pypi
    distributions: sdist
    skip_cleanup: true
    user: wradlib
    password:
      secure: rKiAS61oDiuV2uJvkP2aiXt8hb7boU2p35RWiTLS8b5pSo/BWysThOIf1jmz5GQIpI8uYU+5GajlgtGVq8GmOxprexDgwTfMFF2bsblfUuZwYM3R1tPQuo2poAZ1/m0jPCul60vJJ31B2wEzsneo4tvbM4a7mAoBMMA5auli5o3eVo4P8xnXziMbw/l53bnl+ZYv7qocbt9RIsrgckAdfjLkZy8gAgDxcYXGGybg6K8VN/twSZGMIJfOvjkONhOtRfsiUc8fEu2hF6+HjQfSC07jue4KDPzo3s9hrAS6+fB0v8MV4UsB710VsrqoPuIfhBRo+xj8tW7Y2MPzJq/6kPBrVoQwV7gLTxZ7IWy5y4/Si78rxhXZIKDzo2VS4tNq1wo6xfGXv8pbzal7TOljqzK+ekXJBsXgdVUiGisZJLHTnPr0rkjwY7qzW+mqPqnpLLTCoHYWQE9AlrEQI3jP1FejGB5iyv/A3kDhjaerFkXlu5TXfkE44EpoKp8uURCNdzNiFoACv/68w3BJmWI0IkQR+YWZEBQm0xySMj8zLd5qrhqX/0u2crEC2uUPEQnkwNF1X8fOz3KFozY68KYsvSmIqKPlJFWSpzXYzMzqFnpvSumgb+g8FK/UppmMpukeQXTVSMGHY9k0Hi6I/WoGgmlDMksRB4fMUG0nZXdOqyM=
    on:
      branch: master
      tags: true
      repo: wradlib/wradlib
      condition: $TRAVIS_PYTHON_VERSION = "2.7"

