include LICENSE.txt
include MANIFEST.in
include requirements.txt
include testrunner.py
recursive-include examples *.py
recursive-exclude examples *.pyc
recursive-include wradlib/tests *.py
recursive-exclude wradlib/tests *.pyc