include LICENSE.txt
include MANIFEST.in
include requirements.txt
include testrunner.py
recursive-include notebooks *.ipynb
recursive-include notebooks *.py
recursive-exclude notebooks __init__.py
recursive-exclude notebooks *.pyc
prune */.ipynb_checkpoints
recursive-include wradlib/tests *.py
recursive-exclude wradlib/tests *.pyc
