{% extends 'beam/base.html' %}


{% block release %}

<h4 class="btn btn-danger" ><a href="{% url 'pdf-path-2' %}" style="color: #fff;">Download Global Report</a></h4>

{% endblock  %}

{% block content %}

    <!-- ======= Clients Section ======= -->
    <section id="clients" class="clients section-bg">
      <div class="container">
        
        
<div class="card" style="margin: 38px;">
  <div class="card-body" >   

    
    <div class="row">  
 <h3>{{location.name}} | Senario With  Vertical angle = {{location.vertical_angle}} °</h3>
      <div class="col-md-12">
        <table class="table table-hover"> 
          <thead>
            <tr style="background:#CF275E ; color: white">
              <th scope="col" >Radar specifications</th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">Latitude</th>
              <td>{{location.latitude}}</td>
            
            </tr>
            <tr>
              <th scope="row">Longitude</th>
              <td>{{location.longitude}}</td>
           
            </tr>

            <tr>
              <th scope="row"> Height tower </th>
              <td colspan="2">{{location.height_tower}} m </td>
           
            </tr>
            <tr>
              <th scope="row"> Vertical angle</th>
              <td colspan="2">{{location.vertical_angle}} °</td>
             
            </tr>

          </tbody>
        </table>

      </div>

    </div>

          <div class="row">
         
            <h4> Beam-Blockage Simulation</h4>
            <div class="col-md-12"> 
          <img src="{{location.image_beam.url}}"  style="width:100% ;max-width: 100%;">
        </div>
        <hr>
        <h4>  Beam Propagation with earth curvature</h4>

        <div class="col-md-12"> 
          <img src="{{location.image_couverture.url}}"  style="width:100% ;max-width: 100%;">
        </div>

        </div> 
        <div class="container"> 

        <a href="{% url 'update' location.pk %}">
          <button type="submit" class="btn btn-primary m-3">Replay </button> 
        </a>
  
        <a href="{% url 'delete' location.pk %}">
          <button type="submit" class="btn btn-danger m-3">Delete </button> 
        </a>
  

        <a href="{% url 'my_view-path' %}">
          <button type="submit" class="btn btn-success m-3">New Simulation</button> 
        </a>


        <a href="{% url 'detail_site' location.name %}">
          <button type="submit" class="btn btn-dark m-3"> {{location.name}} Simulations </button> 
        </a>

        <a href="{% url 'list_site' %}">
          <button type="submit" class="btn btn-secondary m-3">All sites</button> 
        </a>
      </div>

      </div>
    </div>


  </div>




      </div>
    </section><!-- End Cliens Section -->

  


   

   


      {% endblock  %}
