name: cancel
on:
  workflow_run:
    workflows: ["CI"]
    types:
      - requested
jobs:
  cancel:
    name: Cancel previous runs
    runs-on: ubuntu-latest
    if: github.repository == 'wradlib/wradlib'
    steps:
    - uses: styfle/cancel-workflow-action@0.11.0
      with:
        workflow_id: ${{ github.event.workflow.id }}
